body {
  background: dodgerblue;
  font-family: sans-serif;
  margin: 0;
  padding: 3em;
}

.title {
  color: gold;
  text-align: center;
  font-size: 3.5em;
  margin-bottom: 0;
}

.description {
  color: lavender;
  text-align: center;
  font-size: 1.5em;
  font-family: monospace;
}

.links {
  font-size: 1.2em;
  color: lavender;
  font-family: monospace;
  text-align: center;
  margin-bottom: 4em;
}

.links a {
  color: goldenrod;
}
